<!DOCTYPE html>
<html lang="en">
<head>
	<title>Telemetry – Watch your App Grow and Evolve</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A Private and Secure Telemetry Service for Your App">
	<meta name="author" content="Daniel Jilg aka breakthesystem">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="../../Public/assets/fontawesome/js/all.min.js"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="../../Public/assets/plugins/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" href="../../Public/assets/dripicons/webfont/webfont.css">

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="../../Public/assets/css/theme.css">

</head>

<body>
	<div class="hero-wrapper">
		<div class="curve-container">
			<div class="curve-top"></div>
			<div class="curve-bottom"></div>
		</div><!--//curve-container-->
		<header class="header">
			<div class="branding">
				<div class="container">
					<nav class="navbar navbar-expand-lg" >
						<div class="site-logo mr-5"><a class="navbar-brand" href="index.html">
<!--							<img class="logo-icon mr-2" src="assets/images/site-logo.svg" alt="logo">-->
							TELEMETRY
						</a></div>

						<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span> </span>
							<span> </span>
							<span> </span>
						</button>

						<div class="collapse navbar-collapse pt-3 pt-lg-0" id="navigation">

							<ul class="navbar-nav">
<!--								<li class="nav-item mr-lg-4">-->
<!--									<a class="nav-link" href="product.html">Product</a>-->
<!--								</li>-->
<!--								<li class="nav-item mr-lg-4">-->
<!--									<a class="nav-link" href="pricing.html">Pricing</a>-->
<!--								</li>-->
<!--								<li class="nav-item mr-lg-4">-->
<!--									<a class="nav-link" href="customers.html">Customers</a>-->
<!--								</li>-->
<!--								<li class="nav-item dropdown mr-lg-4">-->
<!--									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--										About Us-->
<!--									</a>-->
<!--									<div class="dropdown-menu dropdown-menu-right rounded shadow menu-animate slideIn" aria-labelledby="navbarDropdown">-->
<!--										<a class="dropdown-item has-icon" href="team.html">Team</a>-->
<!--										<a class="dropdown-item has-icon" href="case.html">Case Study</a>-->
<!--										<a class="dropdown-item has-icon" href="support.html">Support</a>-->
<!--										<a class="dropdown-item has-icon" href="blog.html">Blog</a>-->
<!--										<a class="dropdown-item has-icon" href="blog-post.html">Blog Post</a>-->
<!--										<a class="dropdown-item has-icon" href="contact.html">Contact</a>-->
<!--									</div>-->
<!--								</li>-->
							</ul>

							<ul class="navbar-nav ml-auto">
<!--								<li class="nav-item mr-lg-3">-->
<!--									<a class="nav-link mt-1 mb-3 mb-lg-0" href="signin.html">Sign In</a>-->
<!--								</li>-->
<!--								<li class="nav-item">-->
<!--									<a class="nav-btn btn btn-gradient text-white" href="signup.html">Free Trial</a>-->
<!--								</li>-->
							</ul><!--//navbar-nav-->
						</div>
					</nav>

				</div><!--//container-->
			</div><!--//branding-->
		</header><!--//header-->

		<section class="hero-section over-curve pt-5 py-md-5">
			<div class="container">
				<div class="hero-content-holder z-index-10 position-relative">
					<h1 class="site-headline mb-3">Watch your App Grow and Evolve</h1>
					<div class="site-tagline mb-4">Telemetry is a new service that helps app and web developers improve their product by supplying immediate, accurate telemetry data while users use your app. And the best part: <strong>It's all anonymized so your user's data stays private!</strong></div>
					<div class="site-tagline mb-4"><span class="badge badge-secondary">Early Beta</span> No public signup right now. If you're interested in trying out Telemetry, contact the auther, Daniel, on twitter, who would <em>love</em> to give free access especially to indie developers. ♥️</div>
					<div class="cta-btns mb-lg-3">
						<a class="btn btn-gradient mr-2 mb-3" href="http://twitter.com/breakthesystem/">Contact Daniel on Twitter</a>
					</div>

				</div><!--//hero-content-holder-->
			</div><!--//container-->
			<div class="hero-figure-holder">
				<img src="../../Public/assets/images/product/product-hero-1.png" alt="product">
			</div><!--//hero-figure-holder-->
		</section><!--//hero-section-->

		<section class="logos-section theme-bg-primary over-curve pb-4 py-lg-5 text-center">
<!--			<div class="container">-->
<!--				<div class="logos-row row mx-auto">-->
<!--					<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">-->
<!--						<div class="item-inner">-->
<!--							<img class="img-fluid" src="assets/images/logos/logo-1.svg" alt="logo">-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--					<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">-->
<!--						<div class="item-inner">-->
<!--							<img class="img-fluid" src="assets/images/logos/logo-2.svg" alt="logo">-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--					<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">-->
<!--						<div class="item-inner">-->
<!--							<img class="img-fluid" src="assets/images/logos/logo-3.svg" alt="logo">-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--					<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">-->
<!--						<div class="item-inner">-->
<!--							<img class="img-fluid" src="assets/images/logos/logo-4.svg" alt="logo">-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--					<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">-->
<!--						<div class="item-inner">-->
<!--							<img class="img-fluid" src="assets/images/logos/logo-5.svg" alt="logo">-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--					<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">-->
<!--						<div class="item-inner">-->
<!--							<img class="img-fluid" src="assets/images/logos/logo-6.svg" alt="logo">-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--				</div>-->
<!--			</div>&lt;!&ndash;//container&ndash;&gt;-->
		</section><!--//logos-section-->

	</div><!--//hero-wrapper-->

<!--	<section class="testimonials-section py-5">-->
<!--		<div class="container py-md-5">-->
<!--			<h3 class="mb-4 text-center section-title single-col-max mx-auto">Trusted By Top Companies</h3>-->
<!--			<div class="mb-4 text-center">-->
<!--				<a class="more-link" href="customers.html">View Customer Stories <strong>&rarr;</strong></a>-->
<!--			</div>-->

<!--			<div class="slider-container text-center single-col-max mx-auto theme-bg-light rounded shadow-sm p-5">-->
<!--				<div class="testimonials-slider tiny-slider">-->
<!--					<div class="item">-->
<!--						<div class="item-inner position-relative">-->
<!--							<div class="quote-holder">-->
<!--								<img class="quote-icon-holder mb-3" src="assets/images/quote-icon.svg" alt="">-->
<!--								<blockquote class="quote-content mb-0 p-2 text-left">-->
<!--									You can list customer reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas est at lorem lacinia malesuada vel at arcu. Etiam volutpat ornare quam, at cursus mi tristique sit amet.-->
<!--								</blockquote>-->
<!--							</div>&lt;!&ndash;//quote-holder&ndash;&gt;-->
<!--							<div class="source-holder">-->
<!--								<img src="assets/images/logos/trello.svg" class="source-profile mx-auto mb-3" alt="">-->
<!--								<div class="source-meta">-->
<!--									<div class="name">Nick Doe, Product Director</div>-->
<!--									<div class="company">Company Name</div>-->
<!--								</div>-->
<!--							</div>&lt;!&ndash;//source-holder&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--					<div class="item">-->
<!--						<div class="item-inner">-->
<!--							<div class="quote-holder">-->
<!--								<img class="quote-icon-holder mb-3" src="assets/images/quote-icon.svg" alt="">-->
<!--								<blockquote class="quote-content mb-0 p-2 text-left">-->
<!--									You can list customer reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas est at lorem lacinia malesuada vel at arcu. Etiam volutpat ornare quam, at cursus mi tristique sit amet.-->
<!--								</blockquote>-->
<!--							</div>&lt;!&ndash;//quote-holder&ndash;&gt;-->
<!--							<div class="source-holder">-->
<!--								<img src="assets/images/logos/aws.svg" class="source-profile mx-auto mb-3" alt="">-->
<!--								<div class="source-meta">-->
<!--									<div class="name">James Doe, Product Director</div>-->
<!--									<div class="company">Company Name</div>-->
<!--								</div>-->
<!--							</div>&lt;!&ndash;//source-holder&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--					<div class="item">-->
<!--						<div class="item-inner">-->
<!--							<div class="quote-holder">-->
<!--								<img class="quote-icon-holder mb-3" src="assets/images/quote-icon.svg" alt="">-->
<!--								<blockquote class="quote-content mb-0 p-2 text-left">-->
<!--									You can list customer reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas est at lorem lacinia malesuada vel at arcu. Etiam volutpat ornare quam, at cursus mi tristique sit amet.-->
<!--								</blockquote>-->
<!--							</div>&lt;!&ndash;//quote-holder&ndash;&gt;-->
<!--							<div class="source-holder">-->
<!--								<img src="assets/images/logos/slack.svg" class="source-profile mx-auto mb-3" alt="">-->
<!--								<div class="source-meta">-->
<!--									<div class="name">Sarah Doe, Product Director</div>-->
<!--									<div class="company">Company Name</div>-->
<!--								</div>-->
<!--							</div>&lt;!&ndash;//source-holder&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->

<!--					<div class="item">-->
<!--						<div class="item-inner">-->
<!--							<div class="quote-holder">-->
<!--								<img class="quote-icon-holder mb-3" src="assets/images/quote-icon.svg" alt="">-->
<!--								<blockquote class="quote-content mb-0 p-2 text-left">-->
<!--									You can list customer reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas est at lorem lacinia malesuada vel at arcu. Etiam volutpat ornare quam, at cursus mi tristique sit amet.-->
<!--								</blockquote>-->
<!--							</div>&lt;!&ndash;//quote-holder&ndash;&gt;-->
<!--							<div class="source-holder">-->
<!--								<img src="assets/images/logos/stripe.svg" class="source-profile mx-auto mb-3" alt="">-->
<!--								<div class="source-meta">-->
<!--									<div class="name">Lee Doe, Product Director</div>-->
<!--									<div class="company">Company Name</div>-->
<!--								</div>-->
<!--							</div>&lt;!&ndash;//source-holder&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--				</div>&lt;!&ndash;//testimonials-slider&ndash;&gt;-->
<!--				<div class="slider-custom-controls d-none d-md-block">-->
<!--					<div class="prev" data-controls="prev">-->
<!--						<i class="fas fa-chevron-left"></i>-->
<!--					</div>-->
<!--					<div class="next" data-controls="next">-->
<!--						<i class="fas fa-chevron-right"></i>-->
<!--					</div>-->
<!--				</div>&lt;!&ndash;//slider-custom-controls&ndash;&gt;-->
<!--			</div>&lt;!&ndash;//slider-container&ndash;&gt;-->
<!--		</div>&lt;!&ndash;//container&ndash;&gt;-->
<!--	</section>&lt;!&ndash;//testiomonials-section&ndash;&gt;-->


	<section class="benefits-section py-5">
		<div class="container">
			<h3 class="mb-lg-5 text-center section-title single-col-max mx-auto">Why Telemetry Is Pretty Cool</h3>

			<div class="item py-5">
				<div class="row">
					<div class="item-content col-12 col-lg-7 col-xl-6 pr-lg-5">
						<div class="title-note mb-1">How It Works</div>
						<h4 class="title mb-3">Telemetry Gives You Exactly the Information You Need</h4>
						<div class="desc">
							<p>By default, Telemetry gives you detailed information about App Version, Device Type, Platform, and Distribution Mechanism. But that's just the start: <strong>You decide the signal types and the metadata payload for each signal</strong>, so you can include exactly the information you need to improve your app!</p>
							<p>Each time you want to send a signal to Telemetry, call one (non-blocking) function: App Start. User has switched the Settings to <em>Pizza Mode</em>. New Data Entered. And so on.</p>
							<p>That's it! Lean back and see information fill your dashboard in Telemetry's very nice (if I may say so) iOS and macOS app.</p>
						</div><!--//desc-->
						<ul class="list-unstyled pt-4">
							<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Custom Metadata Payload</li>
							<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Custom Signal Types</li>
							<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> SPM Package for Swift Projects</li>
							<li class="mb-3"><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Easy POST Request for Other Projects</li>


						</ul><!--//item-list-->
<!--						<div class="pt-3"><a class="more-link" href="product.html">Find out more <span class="link-arrow">&rarr;</span></a></div>-->
					</div><!--//item-content-->
					<div class="item-figure col-12 col-lg-5 col-xl-6 pt-5">
						<img class="img-fluid shadow rounded" src="../../Public/how-it-works.png" alt="">
					</div><!--//item-figure-->
				</div><!--//row-->
			</div><!--//item-->
			<div class="item py-5">
				<div class="row">
					<div class="item-content col-12 col-lg-7 col-xl-6 order-lg-1 pl-lg-5">
						<div class="title-note mb-1">Fast as H*ck, 12/10 Stars</div>
						<h4 class="title mb-3">Telemetry is Faster than the App Store</h4>

						<div class="desc mb-3">
							<p>With App Store analytics, the available information is kinda slim. Like, amount of downloads of your app, and how many people open them. Nothing after! And you'll only get this data about a day later.</p>

							<p>With Telemetry, you get signals about half a second after the app has sent them. And you can get way more information too, like: Which features are your users actually using?</p>
						</div><!--//desc-->

						<div class="data-list">
							<div class="data-list-item media mb-4">
								<div class="data-overview mr-md-4 text-center">
									<div class="number">172.800X</div>
									<div class="note">Faster</div>
								</div><!--//data-overview-->
								<div class="data-desc media-body">
									Half a second is 172.800X shorter than 24 hours. Imagine launching a new version and seeing new users pouring in live on your dashboard.
								</div>
							</div><!--//data-list-item-->

							<div class="data-list-item media mb-4">
								<div class="data-overview mr-md-4 text-center">
									<div class="number">Way</div>
									<div class="note">More Information</div>
								</div><!--//data-overview-->
								<div class="data-desc media-body">
									You decide what meta information you send with each signal. This helps you get the exact information you need without compromising the pricacy of your users.
								</div>
							</div><!--//data-list-item-->

						</div><!--//data-list-->
<!--						<div><a class="more-link" href="product.html">Find out more <span class="link-arrow">&rarr;</span></a></div>-->
					</div><!--//item-content-->
					<div class="item-figure col-12 col-lg-5 col-xl-6 pt-5 order-lg-0">
						<img class="img-fluid" src="../../Public/screenshot1.jpeg" alt="">
					</div><!--//item-figure-->
				</div><!--//row-->
			</div><!--//item-->
						<div class="item py-5">
				<div class="row">
					<div class="item-content col-12 col-lg-7 col-xl-6 pr-lg-5">
						<div class="title-note mb-1">Privacy First</div>
						<h4 class="title mb-3">Telemetry is Private by Design</h4>
						<div class="desc">
							<p>While other analytic packages are eager to scrape as much data off your users as possible, Telemetry only communicates the data you need to find out how your users use your product.</p>
							<p>User Identifiers are always hashed. This way you can recognize the same user when they reappear but never associate data with a specific person. </p>
						</div><!--//desc-->
						<ul class="column-list list-unstyled pt-4">
							<li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> GDPR Compliant</li>
							<li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> CCPA Compliant</li>
							<li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> Easy, honest Privacy Policy</li>
							<li><span class="theme-check-icon icon dripicons-checkmark mr-2"></span> No sleazy data collection</li>

						</ul><!--//item-list-->
<!--						<div><a class="more-link" href="product.html">Find out more <span class="link-arrow">&rarr;</span></a></div>-->
					</div><!--//item-content-->
<!--					<div class="item-figure col-12 col-lg-5 pt-5 col-xl-6">-->
<!--						<img class="img-fluid shadow rounded" src="assets/images/product/product-1.png" alt="">-->
<!--					</div>&lt;!&ndash;//item-figure&ndash;&gt;-->
				</div><!--//row-->
			</div><!--//item-->
		</div><!--//container-->
	</section><!--//benefits-section-->

<!--	<section class="why-section py-5">-->
<!--		<div class="container">-->
<!--			<h3 class="mb-4 text-center section-title single-col-max mx-auto">More Than Just  A Template</h3>-->
<!--			<div class="row">-->
<!--				<div class="item col-12 col-md-6">-->
<!--					<div class="item-inner p-3 p-lg-5">-->
<!--						<div class="media flex-column flex-md-row">-->
<!--							<div class="icon-holder mr-3 mr-lg-5 mb-3">-->
<!--								<div class="icon dripicons-alarm"></div>-->
<!--							</div>&lt;!&ndash;//icon-holder&ndash;&gt;-->
<!--							<div class="media-body">-->
<!--								<h4>Easy Customization</h4>-->
<!--								<div class="desc mb-2">List one of your product features or benefits here. You can use free icon font <a href="http://demo.amitjakhu.com/dripicons/" target="_blank" >Dripicons</a> here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in tincidunt ante, sit amet bibendum magna.-->
<!--								</div>&lt;!&ndash;//desc&ndash;&gt;-->
<!--								<a class="more-link" href="product.html">Learn more <span class="link-arrow">&rarr;</span></a>-->
<!--							</div>&lt;!&ndash;//media-body&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//media&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--				</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--				<div class="item col-12 col-md-6">-->
<!--					<div class="item-inner p-3 p-lg-5">-->
<!--						<div class="media flex-column flex-md-row">-->
<!--							<div class="icon-holder mr-3 mr-lg-5 mb-3">-->
<!--								<div class="icon dripicons-broadcast"></div>-->
<!--							</div>&lt;!&ndash;//icon-holder&ndash;&gt;-->
<!--							<div class="media-body">-->
<!--								<h4>Marketing Framework</h4>-->
<!--								<div class="desc mb-2">List one of your product features or benefits here. You can use free icon font <a href="http://demo.amitjakhu.com/dripicons/" target="_blank" >Dripicons</a> here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in tincidunt ante, sit amet bibendum magna.-->
<!--								</div>&lt;!&ndash;//desc&ndash;&gt;-->
<!--								<a class="more-link" href="product.html">Learn more <span class="link-arrow">&rarr;</span></a>-->
<!--							</div>&lt;!&ndash;//media-body&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//media&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--				</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--				<div class="item col-12 col-md-6">-->
<!--					<div class="item-inner p-3 p-lg-5">-->
<!--						<div class="media flex-column flex-md-row">-->
<!--							<div class="icon-holder mr-3 mr-lg-5 mb-3">-->
<!--								<div class="icon dripicons-rocket"></div>-->
<!--							</div>&lt;!&ndash;//icon-holder&ndash;&gt;-->
<!--							<div class="media-body">-->
<!--								<h4>Startups</h4>-->
<!--								<div class="desc mb-2">List one of your product features or benefits here. You can use free icon font <a href="http://demo.amitjakhu.com/dripicons/" target="_blank" >Dripicons</a> here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in tincidunt ante, sit amet bibendum magna.-->
<!--								</div>&lt;!&ndash;//desc&ndash;&gt;-->
<!--								<a class="more-link" href="product.html">Learn more <span class="link-arrow">&rarr;</span></a>-->
<!--							</div>&lt;!&ndash;//media-body&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//media&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--				</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--				<div class="item col-12 col-md-6">-->
<!--					<div class="item-inner p-3 p-lg-5">-->
<!--						<div class="media flex-column flex-md-row">-->
<!--							<div class="icon-holder mr-3 mr-lg-5 mb-3">-->
<!--								<div class="icon dripicons-briefcase"></div>-->
<!--							</div>&lt;!&ndash;//icon-holder&ndash;&gt;-->
<!--							<div class="media-body">-->
<!--								<h4>Enterprises</h4>-->
<!--								<div class="desc mb-2">List one of your product features or benefits here. You can use free icon font <a href="http://demo.amitjakhu.com/dripicons/" target="_blank" >Dripicons</a> here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in tincidunt ante, sit amet bibendum magna.-->
<!--								</div>&lt;!&ndash;//desc&ndash;&gt;-->
<!--								<a class="more-link" href="product.html">Learn more <span class="link-arrow">&rarr;</span></a>-->
<!--							</div>&lt;!&ndash;//media-body&ndash;&gt;-->
<!--						</div>&lt;!&ndash;//media&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//item-inner&ndash;&gt;-->
<!--				</div>&lt;!&ndash;//item&ndash;&gt;-->
<!--			</div>&lt;!&ndash;//row&ndash;&gt;-->
<!--		</div>&lt;!&ndash;//container&ndash;&gt;-->
<!--	</section>&lt;!&ndash;//why-section&ndash;&gt;-->

	<section class="cta-section text-center py-5 theme-bg-gradient position-relative">
		<div class="curve-containers">
			<div class="curve-top"></div>
			<div class="curve-bottom"></div>
		</div><!--//curve-container-->
		<div class="container py-4">

			<h3 class="section-title text-white mb-3">Look, Numbers!</h3>
			<div class="section-intro mb-5 text-white single-col-max mx-auto">Just like your app, Telemetry itself will grow over time. Right now these are kinda small.</div>

			<div class="data-box mb-3">
				<div class="row">
					<div class="item col-12 col-lg-4">
						<div class="item-inner p-3 text-white">
							<div class="icon dripicons-cloud"></div>
							<div class="number">2</div>
							<div class="desc">Developers</div>
						</div>
					</div><!--//item-->
					<div class="item col-12 col-lg-4">
						<div class="item-inner p-3 text-white">
							<div class="icon dripicons-view-apps"></div>
							<div class="number">28</div>
							<div class="desc">Apps</div>
						</div>
					</div><!--//item-->
					<div class="item col-12 col-lg-4">
						<div class="p-3 text-white">
							<div class="icon dripicons-meter"></div>
							<div class="number">300,000+</div>
							<div class="desc">Signals</div>
						</div>
					</div><!--//item-->

				</div><!--//row-->
			</div><!--//data-box-->
			<div class="pt-3 text-center">
				<a class="btn btn-inverse" href="http://twitter.com/breakthesystem/">Seriously, Talk to Daniel</a>
				<p class="small text-white mt-2">This SAAS business template for bootstrap is way to interested in calls-to-action. Sorry about that.</p>
			</div>
		</div>
	</section><!--//cta-section-->


	<footer class="footer">
		<div class="container py-5 mb-3">
			<div class="row">
				<div class="footer-col col-12 col-md-6 col-lg-5 mb-3">
					<h4>TELEMETRY</h4>
					<div>Telemetry is made, hosted, distributed and cared for (with love) by Daniel Jilg, from Augsburg, Germany</div>
					<ul class="social-list list-unstyled pt-4 mb-0">
						<li class="list-inline-item"><a href="https://github.com/AppTelemetry/telemetry"><i class="fab fa-github fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/breakthesystem"><i class="fab fa-twitter fa-fw"></i></a></li>
					</ul><!--//social-list-->
				</div><!--//footer-col-->

<!--				<div class="footer-col col-12 col-md-6  col-lg-7 mb-lg-3">-->
<!--					<div class="row">-->
<!--						<div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">-->
<!--							<h4 class="col-heading">Product</h4>-->
<!--							<ul class="list-unstyled mb-0">-->
<!--								<li><a href="#">Demo</a></li>-->
<!--								<li><a href="#">Pricing</a></li>-->
<!--								<li><a href="#">FAQs</a></li>-->
<!--								<li><a href="#">Support</a></li>-->
<!--							</ul>-->
<!--						</div>&lt;!&ndash;//footer-col&ndash;&gt;-->
<!--						<div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">-->
<!--							<h4 class="col-heading">Resources</h4>-->
<!--							<ul class="list-unstyled mb-0">-->
<!--								<li><a href="#">Customer Stories</a></li>-->
<!--								<li><a href="#">Blog</a></li>-->
<!--								<li><a href="#">Webinars</a></li>-->
<!--								<li><a href="#">Press</a></li>-->
<!--							</ul>-->
<!--						</div>&lt;!&ndash;//footer-col&ndash;&gt;-->
<!--						<div class="footer-col-sub col-6 col-sm-4 col-lg-4 mb-4">-->
<!--							<h4 class="col-heading">About</h4>-->
<!--							<ul class="list-unstyled mb-0">-->
<!--								<li><a href="#">Team</a></li>-->
<!--								<li><a href="#">Career</a></li>-->
<!--								<li><a href="#">Data</a></li>-->
<!--								<li><a href="#">Contact Us</a></li>-->
<!--							</ul>-->
<!--						</div>&lt;!&ndash;//footer-col&ndash;&gt;-->
<!--					</div>&lt;!&ndash;//row&ndash;&gt;-->
<!--				</div>&lt;!&ndash;//footer-col&ndash;&gt;-->
			</div><!--//row-->
			<hr>
			<div class="footer-bottom">
				<div class="row">
					<div class="copyright col-12 col-md-6">
						Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">Daniel Jilg</a>
					</div>
					<div class="legal col-12 col-md-6 text-md-right">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="#">Privacy</a></li>
							<li class="list-inline-item">|</li>
							<li class="list-inline-item"><a href="#">Terms of Services</a></li>
						</ul>
					</div>
				</div><!--//row-->
			</div>
		</div><!--//container-->
	</footer>

	<!-- Javascript -->
	<script src="assets/plugins/jquery-3.4.1.min.js"></script>
	<script src="assets/plugins/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Page Specific JS -->
	<script src="assets/plugins/tiny-slider/min/tiny-slider.js"></script>
	<script src="assets/js/tinyslider-custom.js"></script>



</body>
</html>
